<div class="span9">
    <%= form_for(@product, :html => {:multipart => :true}) do |f| %>
     <%= render :partial => 'shared/errors', :locals => {:object => @product} %>
        <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name %>
        </div>

        <div class="field" id="description-field">
            <%= f.label :description %><br />
            <%= f.text_area :description %>
        </div>

        <div class="field">
            <%= f.label :condition %><br />
            <%= f.text_field :condition %>
        </div>
        
        <div class="field">
            <%= f.label :photo %><br />
            <%= f.file_field :photo %>
        </div>
        
        <%= f.submit "Let's Go", :class => 'btn btn-success' %>
    <% end %> 
</div>