<div class="product-trading">
	<a href="#"><h3 class="btn btn-info">Trade with <%= @product_owner.username %></h3></a>
	
	<div class="tradeable-products">
	<h4>Select Something to Trade</h4>
		<%= form_tag '/offer_trade' do %>
			<%= select(@notification, :proposed_trade, @authenticated_user_products_array) %>
			<%= hidden_field_tag 'product', @product.id %> 
			<%= hidden_field_tag 'owner', @product_owner.id %> 
			<%= submit_tag 'Offer Trade', :class => 'btn btn-success' %>
		<% end %>
	</div>
</div>